.venv

__pycache__/
**/__pycache__/

tsm/checkpoints/sam2/sam2.1_hiera_small.pt
tsm/checkpoints/fastvit/fastvit_ma36.pth.tar
tsm/checkpoints/fastvit/fastvit_ma36_reparam.pth.tar

multi_organ_tumor_segmentation_application.egg-info/

resource/video/**

output/*/

data/MOTSA_classification